.story {
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
  padding: 2rem;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.5s ease 0s;
  &.published .status::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 10;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #32d200;
  }
  .wrapper {
    padding: 0 1.5rem;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .status {
        font-size: 1.2rem;
        position: relative;
        padding-left: 1.5rem;
        color: rgba(0, 0, 0, 0.6);
      }
      .controlPanel {
        width: 100%;
        max-width: 100px;
        display: flex;
        justify-content: space-between;
        .button {
        }
      }
    }
    .tagsPanel {
      display: flex;
      flex-wrap: wrap;
      margin: 14px 0 15px;
      .tag {
        border-radius: 4px;
        color: #1f2021;
        font-size: 1.2rem;
        margin: 0 1rem 0.5rem 0;
        padding: 3.5px 6px;
        background-color: #fcd4ca;
      }
      .tag + .tag {
        background-color: #b6d2ef;
      }
    }
    .main {
      .title {
        color: rgba(0, 0, 0, 0.87);
        font-size: 1.7rem;
        word-wrap: break-word;
        word-break: break-word;
        font-weight: 600;
        line-height: 2.1rem;
        letter-spacing: 0.02rem;
        padding-bottom: 0.4rem;
      }
      .body {
        font-size: 1.6rem;
        word-break: break-word;
        font-weight: 500;
        line-height: 2rem;
        color: #8f8f8f;
        transition: color 0.5s ease 0s;
      }
    }
    .footer {
      margin-top: 1.2rem;
      .publish {
        font-size: 1.6rem;
        font-family: 'Basier Circle';
        position: relative;
        padding: 0.4rem 0.8rem 0.4rem 3rem;
        color: #f6704d;
        background-color: transparent;
        transition: background-color 0.5s ease 0s;
        border: none;
        border-radius: 0.8rem;
        opacity: 0;
        transition: opacity 0.5s ease 0s;
        &::before,
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 8px solid #f6704d;
          position: absolute;
          left: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          transform: translate(0, -50%);
        }
        &::after {
          transform: translate(100%, -50%);
        }
        &:hover {
          background-color: #ffdada;
          transition: background-color 0.5s ease 0s;
        }
      }
    }
  }
  &.selected,
  &:hover {
    background-color: rgba(95, 197, 241, 0.15);
    transition: background-color 0.5s ease 0s;
    .wrapper .main .body {
      color: #646464;
      transition: color 0.5s ease 0s;
    }
    .footer .publish {
      opacity: 1;
      transition: opacity 0.5s ease 0s;
    }
  }
}
